
#cursor {
  animation: blinker 1s linear infinite; 
  /*you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {  
  50% { opacity: 0; }
}
#body {
  animation-name: color1;
  animation-duration: 5s;
}
@keyframes color1 {  
  from {background-color: white;}
  to {background-color: black;}
}

@import url(<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR">);
  body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 90px;
    line-height: 1em;
    background-color: black;
    display: flex;
  }
#container {
  width: 50%;
  padding: 0;
  margin: 0;
  color: yellow;
  word-wrap: break-word;
  text-align: center;
}
#english {
  width: 50%;
  padding: 0;
  margin: 0;
  color: aqua;
  word-wrap: break-word;
  text-align: center;
}
.inner {
}